<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sqlIsUserExists" type="CompuLinERP.Core.CreditorAPI.Util.SQLQueryConfigSection, CompuLinINV.API"/>
    <section name="sqlGetAllCompanyDetails" type="CompuLinERP.Core.CreditorAPI.Util.SQLQueryConfigSection, CompuLinINV.API"/>
    <section name="sqlUserDetails" type="CompuLinERP.Core.CreditorAPI.Util.SQLQueryConfigSection, CompuLinINV.API"/>
    <section name="sqlCompanyDetails" type="CompuLinERP.Core.CreditorAPI.Util.SQLQueryConfigSection, CompuLinINV.API"/>
    <section name="sqlTreeViewDetails" type="CompuLinERP.Core.CreditorAPI.Util.SQLQueryConfigSection, CompuLinINV.API"/>

    <!--New Ones-->
    <section name="sqlGetAllInvoiceTypeDetails" type="CompuLinERP.Core.CreditorAPI.Util.SQLQueryConfigSection, CompuLinINV.API"/>
    <section name="sqlGetAllLocationDetailsByCompanyCode" type="CompuLinERP.Core.CreditorAPI.Util.SQLQueryConfigSection, CompuLinINV.API"/>

    <section name="sqlGetAllSalesDetailsByLocation" type="CompuLinERP.Core.CreditorAPI.Util.SQLQueryConfigSection, CompuLinINV.API"/>
    <section name="sqlGetAllCutomerDetailsByCompanyCode" type="CompuLinERP.Core.CreditorAPI.Util.SQLQueryConfigSection, CompuLinINV.API"/>
    <section name="sqlGetAllItemDetailsByLocation" type="CompuLinERP.Core.CreditorAPI.Util.SQLQueryConfigSection, CompuLinINV.API"/>
    <section name="sqlGetAllItemDetailsByLocationAndItemCode" type="CompuLinERP.Core.CreditorAPI.Util.SQLQueryConfigSection, CompuLinINV.API"/>


  </configSections>

  <sqlIsUserExists
     sqlQuery="select PASSWORD from USERS where USERCODE=? and COMPCODE=?"
    />
  <sqlGetAllCompanyDetails
   sqlQuery="select COMPCODE, COMPNAME, EMAIL from INV_NET"
    />
  <sqlUserDetails
    sqlQuery="select FULLNAME, RIGHTCODE, ULEVEL  from USERS where USERCODE=? and COMPCODE=?"
    />
  <sqlCompanyDetails
   sqlQuery="select COMPNAME, EMAIL from INV_NET where COMPCODE=?"
    />
  <sqlTreeViewDetails
 sqlQuery="select PARENT, CHILD, SEQ, PATH from TREEDATA order by SEQ asc"
    />


  <!--New Ones-->
  <sqlGetAllInvoiceTypeDetails
 sqlQuery="select CODE from INV.TYPE_VAT where TXN_TYPE ='INV' and compcode=?"
    />

  <sqlGetAllLocationDetailsByCompanyCode
sqlQuery="Select LOCA, DESCRIPT from INV.LOCA_MAST where compcode=?"
    />

  <sqlGetAllSalesDetailsByLocation
sqlQuery="Select PRICE_CODE, PRICE_DESC  from INV.price_mast where LOCA=?"
    />

  <sqlGetAllCutomerDetailsByCompanyCode
sqlQuery="Select CUST, CUST_NAME, CUST_ADDRESS1 from INV.cust_mast where compcode=?"
    />

  <sqlGetAllItemDetailsByLocation
sqlQuery="Select ITEM, DESC1, DESC2, QIH, PACK, UNIT, ITEM_UNIT2, SALES_PRICE1, SALES_PRICE2  from INV.ITEM_MAST where loca=?"
    />

  <sqlGetAllItemDetailsByLocationAndItemCode
sqlQuery="Select DESC1, DESC2, QIH, PACK, UNIT, ITEM_UNIT2, SALES_PRICE1, SALES_PRICE2  from INV.ITEM_MAST where loca=? and ITEM=?"
    />


</configuration>